@font-face {
  font-family: 'Arvo-Bold';
  src: url(assets/fonts/Arvo-Bold.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'AtomicAge-Regular';
  src: url(assets/fonts/AtomicAge-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Bahiana-Regular';
  src: url(assets/fonts/Bahiana-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BerkshireSwash-Regular';
  src: url(assets/fonts/BerkshireSwash-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'BlendaScript';
  src: url(assets/fonts/BlendaScript.otf) format('otf');
  font-weight: normal;
}
//@font-face {
//  font-family: 'LilitaOne-Regular';
//  src: url(./../assets/fonts/LilitaOne-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'GrandHotel-Regular';
//  src: url(./../assets/fonts/GrandHotel-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'BerkshireSwash-Regular';
//  src: url(./../assets/fonts/BerkshireSwash-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'MedulaOne-Regular';
//  src: url(./../assets/fonts/MedulaOne-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'PirataOne-Regular';
//  src: url(./../assets/fonts/PirataOne-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
//@font-face {
//  font-family: 'Teko-Regular';
//  src: url(./../assets/fonts/Teko-Regular.ttf) format('truetype');
//  font-weight: normal;
//}
