//@import './constants/index.scss';



.canvases {
  width: 720px;
  height: 720px;

  display: block;
  margin: 0.5rem auto;
}

.canvaContainer {
  width: 100%;
}

.serviceCanvas {
  position: absolute;
  display: none;
  //opacity: 0.5;
}
